.container{
    display: flex;
    border: red dashed 1px;
    flex-direction: row;
    width: 250px;
}
  
.item{
    border: black solid 1px;
}

.container div:nth-child(2),
.container div:nth-child(3){
    flex-grow: 1;
}